﻿@model BIProject.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>User registration</h4>
        <hr />
        @Html.ValidationSummary(false)

        <div>
            First name
            <div>
                @Html.EditorFor(model => model.FirstName)
            </div>
        </div>

        <div>
            Last name
            <div>
                @Html.EditorFor(model => model.LastName)
            </div>
        </div>

        <div>
            Username
            <div>
                @Html.EditorFor(model => model.Username)
            </div>
        </div>

        <div>
            Email
            <div>
                @Html.EditorFor(model => model.Email)
            </div>
        </div>

        <div>
            Password
            <div>
                @Html.EditorFor(model => model.Password)
            </div>
        </div>

        <div>
            Confirm password
            <div>
                @Html.EditorFor(model => model.PasswordConfirmation)
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Register" />
            </div>
        </div>
    </div>
}

