﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p id="test"></p>
<div id="map" style="width: 1170px; height: 600px;">

</div>


<script>
    ymaps.ready(function () {
        var yMaps = new ymaps.Map("map", {
            center: [50.43, 30.52],
            zoom: 11
        });
            $.ajax({
                type: "GET",
                url: "http://localhost:65360/api/DataSources/5",
                dataType: "json",
                success: function (data) {
                    var json = JSON.parse(JSON.stringify(data));
                    var jsonC = JSON.parse(json.Content);
                    var clusterer = new ymaps.Clusterer({
                        clusterIconLayout: 'default#pieChart',
                        clusterIconPieChartRadius: 25,
                        clusterIconPieChartCoreRadius: 10,
                        clusterIconPieChartStrokeWidth: 3
                    });
                    var count = 0;
                    for (var item in jsonC)
                        count++;
                    var geoObjects = [];
                    for (var i = 0; i < count; i++) {
                        geoObjects[i] = new ymaps.Placemark([jsonC[i].lon, jsonC[i].lat], {},
                            { iconColor: jsonC[i].color });
                    }

                    clusterer.add(geoObjects);
                    yMaps.geoObjects.add(clusterer);

                    yMaps.setBounds(clusterer.getBounds(), { checkZoomRange: true });
                }
            });
    });
</script>